<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name" placeholder="Enter your name">
    @if (form.get('name')?.touched && form.get('name')?.invalid){
        <div>Please Fill this field</div>
    }
    <input type="text" formControlName="email" placeholder="Enter your name">
    @if (form.get('email')?.touched && form.get('email')?.invalid){
        <div>Please Fill this field</div>
    }
    <button type="submit">
        {{loading() ? "Loading..." : "Submit"}}
    </button>
</form>